{:env-config
 {:onyx/tenancy-id #profile {:default "1"
                             :docker #env ONYX_ID
			     :production #env ONYX_ID}
  :onyx.bookkeeper/server? false
  :onyx.bookkeeper/local-quorum? true
  :onyx.bookkeeper/delete-server-data? true
  :onyx.bookkeeper/local-quorum-ports [3196 3197 3198]
  :onyx.bookkeeper/port 3196
  :zookeeper/address #profile {:default "127.0.0.1:2181"
                               :docker "zookeeper:2181"
			       :production "mesos.master:2181"}
  :zookeeper/server? #profile {:default true
                               :docker false}
  :zookeeper.server/port 2181
  :onyx.log/config #profile {:default nil
                             :docker {:level :info}
			     :production {:level :info}}}
 :peer-config
 {:onyx/tenancy-id #profile {:default "1"
                             :docker #env ONYX_ID
			     :production #env ONYX_ID}
  :zookeeper/address #profile {:default "127.0.0.1:2181"
                               :docker "zookeeper:2181"
			       :production "mesos.master:2181/dcos-service-kafka"}
  :onyx.peer/job-scheduler :onyx.job-scheduler/balanced
  :onyx.peer/zookeeper-timeout 60000
  :onyx.messaging/allow-short-circuit? #profile {:default false
                                                 :docker true
                                                 :production true}
  :onyx.messaging/impl :aeron
  :onyx.messaging/bind-addr #or [#env BIND_ADDR "localhost"]
  :onyx.messaging/peer-port 40200
  :onyx.messaging.aeron/embedded-driver? #profile {:default true
                                                   :docker false
				                   :production false}
  :onyx.log/config #profile {:default nil
                             :docker {:level :info}
			     :production {:level :info}}}
 :web-server #profile {:default {:vhost #or [#env VHOST "localhost"]
                                 :port 8082
                                 :request-logging? true}
                       :docker {:vhost #or [#env VHOST "localhost"]
                                :port 8082
                                :request-logging? true}
                       :production {:vhost "kixi.event2s3.marathon.mesos"
                                    :port 18081
                                    :request-logging? true}}}
