{:app-name "kixi.event2s3"
 :log-config #profile {:default {:level :debug}
                       :docker {:level :info}
                       :production {:level :info}}
 :env-config
 {:onyx/tenancy-id #profile {:default "1"
                             :docker #or [#env ONYX_ID ^:ref [:app-name]]
			     :production #or [#env ONYX_ID ^:ref [:app-name]]}
  :onyx.bookkeeper/server? false
  :onyx.bookkeeper/local-quorum? true
  :onyx.bookkeeper/delete-server-data? true
  :onyx.bookkeeper/local-quorum-ports [3196 3197 3198]
  :onyx.bookkeeper/port 3196
  :zookeeper/address #profile {:default "127.0.0.1:2181"
                               :docker "zookeeper:2181"
			       :production "master.mesos:2181"}
  :zookeeper/server? #profile {:default false
                               :production false
                               :docker false}
  :zookeeper.server/port 2181
  :onyx.log/config {}}
 :peer-config
 {:onyx/tenancy-id #profile {:default "1"
                             :docker #or [#env ONYX_ID ^:ref [:app-name]]
			     :production #or [#env ONYX_ID ^:ref [:app-name]]}
  :zookeeper/address #profile {:default "127.0.0.1:2181"
                               :docker "zookeeper:2181"
			       :production "master.mesos:2181"}
  :onyx.peer/job-scheduler :onyx.job-scheduler/balanced
  :onyx.peer/zookeeper-timeout 60000
  :onyx.messaging/allow-short-circuit? #profile {:default false
                                                 :docker true
                                                 :production true}
  :onyx.messaging/impl :aeron
  :onyx.messaging/bind-addr #or [#env BIND_ADDR "localhost"]
  :onyx.messaging/peer-port 40200
  :onyx.messaging.aeron/embedded-driver? #profile {:default true
                                                   :docker false
				                   :production false}
  :onyx.log/config {}}
 :web-server #profile {:default {:vhost #or [#env VHOST "localhost"]
                                 :port 8082
                                 :request-logging? true}
                       :docker {:vhost #or [#env VHOST "localhost"]
                                :port 8082
                                :request-logging? true}
                       :production {:vhost "kixi.event2s3.marathon.mesos"
                                    :port 18081
                                    :request-logging? true}}
 :job-config {:kafka-task {:onyx-batch-size #long #or [#env ONYX_BATCH_SIZE 10]
                           :onyx-batch-timeout #long #or [#env ONYX_BATCH_TIMEOUT 1000]}
              :s3-task {:onyx-batch-size #long #or [#env ONYX_BATCH_SIZE 50]
                        :onyx-batch-timeout #long #or [#env ONYX_BATCH_TIMEOUT 60000]}
              :kafka-topic #or [#env KAFKA_TOPIC "event"]
              :aws-region #or [#env AWS_REGION "eu-central-1"]
              :s3-bucket-name #or [#env S3_BUCKET_NAME "mc-witan-event-backup-staging"]}}
